body
{
  background-color: black;
  color:grey;
}

h1
{
  color:white;
  font-family: verdana
}

p
{
  color:white;
  font-family: verdana
}

img
{
  background-color: white;
}

h2
{
  color:grey; 
}
